.Current h1 {
  font-size: 26px;
  margin: 30px auto 0 auto;
  color: pink;
}

.Current .current-temp {
  font-size: 90px;
  font-weight: 900;
  line-height: 150%;
}

.Current .units {
  font-size: 17px;
  position: relative;
  top: -45px;
}

.Current .celsius-link:hover,
.fahrenheit-link:hover {
  color: blue;
}

.Current .temp-block .active {
  color: black;
}

.Current .temp-block .active:hover {
  cursor: default;
}

.Current .celsius-link,
.fahrenheit-link {
  color: white;
  text-decoration: none;
}

.Current .forecast-icon {
  width: 50%;
  height: 50%;
}

.Current .last-updated {
  font-size: 12px;
  margin-bottom: 0;
}

.Current .day-time {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0;
}

.Current .current-text {
  margin-bottom: 0;
  font-size: 16px;
}

.Current .current-text::first-letter {
  text-transform: capitalize;
}